<main>
  <div>
    <.flash_group flash={@flash} />
    {@inner_content}
  </div>
  <footer class="mt-12">
    <p class="text-center text-sm leading-6 text-muted-foreground">
      &copy; {Date.utc_today().year} JelajahKoding - Built with Phoenix (Elixir) -
      <a href="https://github.com/orgmatileg/jelajah_koding" target="_blank">Luqmanul Hakim</a>
    </p>
  </footer>
</main>
