<.header>
  Edit Creator {@creator.id}
  <:subtitle>Use this form to manage creator records in your database.</:subtitle>
</.header>

<.creator_form changeset={@changeset} action={~p"/admins/creators/#{@creator}"} />

<.back navigate={~p"/admins/creators"}>Back to creators</.back>
