<.header>
  New Tag
  <:subtitle>Use this form to manage tag records in your database.</:subtitle>
</.header>

<.tag_form changeset={@changeset} action={~p"/admins/tags"} />

<.back navigate={~p"/admins/tags"}>Back to tags</.back>
